.banner{
    height: 600px;
    width: 100%;
    background-image: url('Banner Image.png');
    background-repeat: no-repeat;
    margin: 20px;
    margin-left: 100px;
   
}
.banner-greeting{
    
color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 32px;
font-weight: 500;
line-height: 40px;
padding-top: 150px;
padding-right: 100px;
text-align: center;
}
.banner-title{
 color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 95px;
padding-right: 70px;
text-align: center;
}
.offer-section{
    color: rgb(255, 0, 0);
    font-size: 40px;
    text-align: center; 
}
.holiday{
color: rgb(255, 0, 0);
font-size: 20px;
text-align: center;

}
.catefories{
color: rgb(7, 2, 17);
font-size: 48px;
text-align: center;
}
.new-year-img{
    margin-left: 400px;
}
.party-img{
    height: 600px;
    width: 100%;
    background-image: url('Vectorrr.png');
    background-repeat: no-repeat;
    margin: 20px;
    margin-left: 100px;
}